.custom-cursor {
    width: 20px;
    height: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 10000;
    display: none; 
}

.custom-cursor--hover {
    transition: transform 0.5s ease;
    width: 110px;
    height: 110px;
}

@media screen and (min-width: 1061px) {
    .custom-cursor {
        display: block; 
    }
}
