body {
    font-family: 'Leiko';
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);;
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

#backButton {
    margin-left: 2rem;
    position: absolute;
    padding: 7px 15px;
    background-color: transparent;
    border: 2px solid rgb(240, 239, 228);
    cursor: pointer;
    transition:transform 0.3s ease; 
}

#backButton:hover {
    transform: scale(1.1);
}

#backButton svg {
    transform: scaleX(-1); 
    fill: rgb(240, 239, 228);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 95vh; 
}

.text-content {
    flex: 1;
    margin-left: 2rem;
    text-align: left;
}

h2 {
    color: rgb(240, 239, 228);
    font-size: 12vw;
    margin-bottom: 20px; 
}

.text-content p {

    color: rgb(240, 239, 228);
    font-size: 1em;
    margin-bottom: 20px;
}

.download-button {
    text-transform: uppercase;
    font-size: 2vh;
    padding: 10px;
    background-color: transparent;
    color: rgb(240, 239, 228);
    border: 2px solid rgb(240, 239, 228);
    border-radius: 20px;
    cursor: pointer;
}

.download-button:hover {
    background-color: rgb(240, 239, 228);
    color: rgb(21, 21, 21);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex: 2;
    height: 100%; 
}

.grid-item {
    border-radius: 8px;
    background-color: #000000;
    border: 1px solid #000000;
    overflow: hidden;
    z-index: 100;
}

.grid-item img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.div1 { grid-area: 1 / 3 / 3 / 5; } 
.div2 { grid-area: 1 / 5 / 4 / 6; } 
.div3 { grid-area: 3 / 3 / 6 / 5; } 
.div4 { grid-area: 4 / 5 / 6 / 6; }

button {
    font-family: 'Leiko';
    text-transform: uppercase;
    font-size: 2vh;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    color: rgb(240, 239, 228);
    border: 2px solid rgb(240, 239, 228);
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(240, 239, 228);
    color: rgb(21, 21, 21);
}

