.blob {
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    mix-blend-mode: difference; 
    position: absolute;
    border-radius: 50%;
    opacity: 1; 
    animation: float 10s ease-in-out infinite;
    filter: blur(15px); 
    z-index: 1;
  }
  @keyframes float {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    5% {
        transform: translate(-5px, -10px) rotate(-5deg);
    }
    15% {
        transform: translate(10px, 5px) rotate(10deg);
    }
    25% {
        transform: translate(15px, 10px) rotate(15deg);
    }
    35% {
        transform: translate(-10px, 5px) rotate(-10deg);
    }
    45% {
        transform: translate(-10px, -5px) rotate(-15deg);
    }
    55% {
        transform: translate(10px, -10px) rotate(10deg);
    }
    65% {
        transform: translate(10px, -10px) rotate(15deg);
    }
    75% {
        transform: translate(-5px, 10px) rotate(-10deg);
    }
    85% {
        transform: translate(-5px, 15px) rotate(-5deg);
    }
}

