.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 30px;
    align-items: start;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(95,0,0,1) 100%);
}

.contact-form {
    margin-top: 10rem;
    margin-left: 10rem;
    width: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid rgb(240, 239, 228);
    padding: 25px;
    border-radius: 12px;
    
}

input[type="email"], textarea {
    width: calc(100% - 16px);
    font-family: 'Leiko';
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgb(240, 239, 228);
    border-radius: 6px;
    font-size: 1rem;
    color: rgb(240, 239, 228);
}

label {
    font-family: 'Leiko';
    font-size: 1rem;
    color: rgb(240, 239, 228);
    margin-top: 15px;
}

input[type="submit"] {

    font-family: 'Leiko';
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid rgb(240, 239, 228);
    border-radius: 10px;
    color: rgb(240, 239, 228);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(240, 239, 228);
    color: black;
}


@media (max-width: 1240px) {
    .contact-container {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .contact-title h2{
        font-size: 12vh;
    }

    .contact-form {
        margin: 2rem auto; 
        max-width: 100%;
    }

    input[type="email"], textarea {
        width: calc(100% - 10px); 
    }

    label, input[type="submit"] {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .contact-form {
        margin: 1rem auto; 
        padding: 15px; 
    }

    input[type="email"], textarea {
        font-size: 0.8rem; 
    }

    input[type="submit"] {
        padding: 10px 15px; 
        font-size: 0.8rem; 
    }
}
