body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 239, 228);
    transition: background-color 0.7s ease;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image {
    position: relative;
    width: 25%; 
    height: 60%; 
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    color: rgb(240, 239, 228); 
    font-family: 'Leiko';
    font-weight: lighter;
    font-size: 12rem;
    top: 35%; 
    left: 72%; 
    line-height: 10rem;
    width: 330%;
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference; 
}

.thumbnail {
    position: absolute;
    width: 55px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}

.thumbnail:nth-child(1) { top: 10%; left: 20%; }
.thumbnail:nth-child(2) { top: 70%; left: 80%; }
.thumbnail:nth-child(3) { top: 30%; right: 15%; }
.thumbnail:nth-child(4) { bottom: 18%; left: 10%; }
.thumbnail:nth-child(5) { bottom: 10%; right: 25%; }
.thumbnail:nth-child(6) { top: 4%; left: 60%; }
.thumbnail:nth-child(7) { bottom: 4%; left: 25%; }
.thumbnail:nth-child(8) { top: 30%; left: 5%; }
.thumbnail:nth-child(9) { top: 10%; right: 5%; }

.name {
    font-family: 'Leiko';
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #333;
    font-size: 20px;
}

.language-switcher{
    position: absolute;
    top: 10px;
    right: 30px;
    
}

#switchToEnglish, #switchToSpanish {
    font-family: 'Leiko';
    text-transform: uppercase;
    color: #333;
    font-size: 16px;
    background: none; 
    border: none; 
    cursor: pointer; 
}

#switchToEnglish:hover, #switchToSpanish:hover {
    text-decoration: underline; 
}

    


